.container {
  box-sizing: border-box;
  display: flex;
  height: 180rpx;
  width: 750rpx;
  padding: 15rpx 25rpx;
  overflow: hidden;
  .image {
    width: 200rpx;
    height: 100%;
    object-fit: cover;
    border-radius: 20rpx;
  }
}

.right {
  flex: 1;
  margin-left: 20rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    font-size: 33rpx;
    font-weight: 800;
    color: #000;
    line-height: 47rpx;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.bottom {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.tags {
  display: flex;
  gap: 15rpx;
  font-size: 25rpx;
  line-height: 38rpx;
  font-weight: 700;
}
.date {
  font-size: 23rpx;
  color: #7f7f7f;
}
