$main-color: #587ee7;
$main-color-shade1: #5b85f8;
$main-color-shade2: #2d61f0;
$bg-grey-main: #ebeeef;
$bg-grey-shade: #f9f9f9;
$border-grey-shade: #eeeded;

.submit-btn {
  height: 40px;
  width: 100%;
  font-size: 14px;
  color: rgba(229, 239, 255, 1);
  line-height: 40px;
  border: 0px solid undefined;
  background-image: linear-gradient(to right, rgba(32, 114, 243, 1), rgba(81, 32, 243, 1));
  box-shadow: 0px 2px 6px rgba(0, 98, 255, 0.2);
}
