/* components/wd-tag/wd-tag.wxss */
.tag {
  padding: 4rpx 14rpx;
  border-radius: 16rpx 16rpx 0rpx 16rpx;
  box-shadow: 0rpx 4rpx 4rpx 0rpx rgba(219, 219, 219, 0.25);
  .label {
    color: #ffffff;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
